---
layout: landing
title: Resources
---
<h1>~Resources~</h1>
<main class="landing-container resources">
    {% for link in site.data.links limit: 3 offset: 0%}
    <div class="portfolio-links">
        <span><a href="{{ link.url }}">{{ link.name}}</a></span>
    </div>
    <p class="link-description">{{ link.description }}</p>
    {% endfor %}

    {% for link in site.data.links limit: 1 offset: 3%}
    <div class="portfolio-links">
        <span><a href="{{ link.url }}">{{ link.name}}</a></span>
    </div>
    <p class="link-description">{{ link.description }}</p>
    {% endfor %}

    {% for link in site.data.links limit: 1 offset: 4%}
    <div class="portfolio-links">
        <span><a href="{{ link.url }}">{{ link.name}}</a></span>
    </div>
    <p class="link-description">{{ link.description }}</p>
    {% endfor %}
</main>
