<header>
    <a href="{{ site.baseurl }}/" class="header-title">
        {% if page.title == "Poetry" %}
        Kevillanelle
        {% else %}
        Kevin Jang
        {% endif %}
    </a>
    <button id="nav-menu-btn" onclick="displayMenu()" aria-label="Open Menu">MENU</button>
    <nav class="nav-container">
        <ul id="navbar-desktop" class="desktop">
            {% for item in site.data.navigation %}
            <li class="nav-item"><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
        <ul id="navbar-mobile" class="hidden">
            {% for item in site.data.navigation %}
            <li class="nav-item"><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}
            <li class="nav-item>"><a href="https://www.linkedin.com/in/kevinjjang" target="_blank"
                rel="noopener noreferer">LinkedIn</a></li>
        </ul>
    </nav>

    <a class="boxed-link desktop" href="https://www.linkedin.com/in/kevinjjang" target="_blank"
        rel="noopener noreferer">LinkedIn</a>
</header>