<div id="privacy-policy-popup" class="popup hidden">
    <div>
        <h2>Privacy Policy</h2>
        <p>By accessing my website, you agree to automatic data collection via Google Analytics and use of local
            storage. This information will not personalize your experience but it can be used to improve user experience
            and my understanding of analytics.
            <a href="{{ site.baseurl }}/privacy-policy">Click here to view my privacy policy (4 minute read)</a>.
            To opt-out, disable JavaScript.
        </p>
    </div>
    <div class="popup-buttons">
        <button onclick="closePrivacyPopup()">Accept</button>
        <button onclick="hidePrivacyPopup()">Do Not Remind Me Again</button>
    </div>

</div>