.homepage {
    padding: 24px 32px;
    height: 625px;
    background-image: url(https://kevinjjang.studio/assets/img/ca-coast.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #f5bf8f;
    h1, h3 { 
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 30px;
        width: fit-content;
        border-radius: 16px;
        background-color: #cc9a5a;
    }
    a:hover, a:focus-visible {
        opacity: 0.8;
    }
}

#me {
    margin-bottom: 3.5rem;
    width: 300px;
    border-radius: 50%;

}

.landing-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 32px;
    max-width: 1440px;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.skillset-container {
    text-align: center;

    h2 {
        font-weight: 500;
    }
    .skillset-grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 24px;
    }

    .skillset-item {
        text-align: left;
        h3 {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.portfolio {
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    width: 90%;
}

.portfolio-objective {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: left;
}

.portfolio-item {
    display: block;
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 1rem 0rem;
    overflow: hidden;
    border: 5px solid #000;
    border-radius: 10px;
    text-decoration: none;
    background-clip: padding-box;

    a {
        display: block;
        margin: 0 16px;
    }
    h2, h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 8px;
        padding-right: 8px;
    }
    h3 { font-weight: 400; }
    h2 {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .date { font-size: 1.2rem; }
}

.other-people {
    h4 {
        text-transform: uppercase;
    }
}

.portfolio-links {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid #bbb;
    line-height: 0.1rem;

    span {
        flex-grow: 0.25;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    a {
        padding: 0 16px;
        background-color: #fff;
        opacity: 1;
    }
}

.resources {
    p {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        width: 70%;
    }
    .portfolio-links {
        width: 90%;
    }
}


@media screen and (max-width: 768px) {
    .landing-container {
        padding: 0px 16px;
        article {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .skillset-container .skillset-grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
        row-gap: 16px;
    }
    .portfolio, .portfolio-objective { width: 100%; }
    .portfolio .portfolio-item {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        border-width: 2px;
        img[style] { 
            height: initial !important; 
            width: 350px;
        }
        a { margin: 0px; }
        h2 { font-size: 1.4rem; }
        
    }
    .resources .portfolio-links {
        padding: 0px 0px;
        width: initial;
        border: none;
        line-height: normal;
        font-size: 1.2rem;
        span { font-size: inherit;}
    }
    .resources p { width: initial; }
    
}