.link-list {
    padding-left: 0px;
}

.link-container {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 80%;
    padding: 10px;
}

.link-container a {
    font-size: 1.25rem;
    // line-height: 48px;
    font-weight: bold;
    text-decoration: underline;
}
