.link-list {
    padding-left: 0px;
}

.link-container {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 80%;
    padding: 10px;
}

.link-container a {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
}

.boxed-link {
    padding: 16px 24px;
    background-color: #000;
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    font-style: italic;
}

.boxed-link:focus-visible {
    opacity: 0.5;
}