
// font-family: 'Montserrat', 'Open Sans', sans-serif;
// font-family: 'PT Serif', 'Merriweather', 'Roboto Slab', serif;

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color: black;
}

main {
    padding: 0px 32px;
}
h1 {
    text-align: unset;
    text-transform: uppercase;
    font-size: 3rem;
}

h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.2rem;
}

.serif {
    font-family: 'PT Serif', 'Merriweather', 'Roboto Slab', serif;
}

.sans {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}
code {
    background-color: #eee;
    font-size: 0.9rem;
    color: #a10000;
}
button {
    padding: 16px 24px;
    background-color: #333;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

:focus-visible {
    outline-color: #5959ff;
    outline-offset: 5px;
}


a, a:visited {
    font-family: 'Open Sans', sans-serif;
    color: inherit;
    text-decoration: underline;
}

a:hover {
    opacity: 0.5;
}

a:focus, a:focus-visible {
    opacity: 0.8;
}

.boxed-link {
    padding: 16px 24px;
    background-color: #000;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-style: italic;
}

.boxed-link:focus-visible {
    opacity: 0.5;
}
hr {
    border: none;
    height: 2px;
    background-color: #bbbbbb;
}
.hr40 {
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}

.font-light {
    opacity: 0.5;
}

.center {
    text-align: center;
}

.italics {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.hidden {
    visibility: hidden;
    height: 0px;
    opacity: 0;
}

.visible {
    visibility: visible;
    height: auto;
    opacity: 1;
    transition: all 0.7s cubic-bezier(0.18, 0.9, 0.65, 1);
}


@media screen and (max-width: 768px ) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.7rem; }
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.4rem; }
    
    ul, ol { padding-left: 20px; }
    blockquote { margin-left: 20px; }

    main {
        padding: 0px 16px;
        article {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}