.popup {
    padding: 16px 24px;
    background-color: #eeefff;
    h2 {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 1.5rem;
    }
}
.popup-buttons {
    margin-left: 32px;
}

#privacy-policy-popup {
    display: grid;
    position: fixed;
    z-index: 9999;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr;

    button {
        display: block;
        margin-top: 16px;
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .popup-buttons {
        margin-left: 0px;
    }
    #privacy-policy-popup {
        grid-template-columns: 1fr;
        button {
            margin-left: auto;
            margin-right: auto;
        }
    }
}