---
import LandingLayout from "../layouts/LandingLayout.astro";
const allPosts = await Astro.glob('../pages/literature/*.md');
const pageTitle = "Literature";
---
<LandingLayout title={pageTitle}>
    <main>
        <h1>{pageTitle}</h1>
    <p>This is a selection of my literature available to read.</p>
    <ul>
        {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
</main>
</LandingLayout>