---
import LandingLayout from "../layouts/LandingLayout.astro";
---

<LandingLayout title={"Portfolio"}>
    <main>
        <h1>Portfolio</h1>

        <h2>Other People Magazine</h2>
        <h3>Lead Frontend Developer</h3>

        <p>
            Note: Everything described here about Other People Magazine was
            created by me and is publicly accessibile.
        </p>

        <h3>React/Next.js with headless TinaCMS integration</h3>
        <p class="date"></p>
        <p class="description"></p>
        <a href="https://www.otherpeoplesd.com/">React.js Website</a> | <a
            href="https://github.com/Other-People-UCSD/Calla-Lily">GitHub</a
        > | <a href="https://docs-git-main-other-people.vercel.app/"
            >Documentation Site</a
        >

        <h3>Google Lighthouse CI Automated Audits</h3>
        <p class="date">August 2023</p>
        <p class="description">
            Inspired by one of my previous university group projects about
            analyzing Lighthouse reports on different countries' websites, I was
            interested in automating Google Lighthouse Reports over my own
            organization's site. I researched the existing continuous
            integrations and adapted their inputs/outputs to fit my
            organization's needs by using the Other People API to get the site
            pages to crawl audits over, fed those reformatted URLs to the
            Lighthouse CI Action parameters, and exported the results as
            artifacts. This CI is a GitHub Action that allows our organization
            to fix abnormal issues or optimize new metrics for new works that
            are published to the website. <a
                href="https://docs-git-main-other-people.vercel.app/docs/calla-lily/lighthouse"
                >View the documentation explaining each step of the workflow</a
            >.
        </p>

        <h3>Literary Arts Recommendation System</h3>
        <p class="date">August 2023</p>
        <p class="description">
            I developed the recommendation system for Other People by combining
            methods to extract features from textual content and a neural
            network to discern features from artwork. I built and used the Other
            People API endpoints to extract data from the literary works used in
            the system. After researching different methods and strategies for
            analyzing the similarity of two works irrespective of end user
            information, the recommendation model adequately returns a diverse
            and novel set of recommendations for each literary or artistic work.
            This system was programmed in Python and can be found in the <a
                href="https://docs-git-main-other-people.vercel.app/docs/recommendation-system"
                >Other People documentation</a
            >.
        </p>

        <h3>Documentation Website</h3>
        <p class="date">June</p>
        <p class="description">
            In order to onboard new developers to keep Other People's many
            products still operable, I developed a website in Docusaurus to
            document major design decisions and changes that have happened
            throughout Other People's history. This documentation helped
            significantly with onboarding a new developer by breaking down the
            steps and showing visual architectural diagrams on how the
            integrations interact with each other.
        </p>

        <h3>Native Choose Your Own Adventure Product</h3>
        <p class="date">April - June 2, 2023</p>
        <p class="description">
            I worked with a client to publish their story by creating a native
            choose-your-own-adventure (CYOA) program with additional features
            for accessibility and user-centric design. I was able to finish a
            minimum viable product (MVP) well before their work was finalized. I
            developed a python program that converted the templated
            tab-separated values (TSV) file into JSON to be read through the
            JavaScript program. After creating this MVP, we worked together to
            adjust the product designs and debug issues that were found when
            converting the story to input data. We finalized everything a few
            days before the deadline and established good relations between them
            and our organization.
        </p>
        <a
            href="https://www.otherpeoplesd.com/6/you-have-created-an-imaginary-friend"
            >Final Product</a
        > |
        <a
            href="https://docs-git-main-other-people.vercel.app/docs/projects/cyoa-workflow"
            >Project Documentation</a
        >

        <h3>Native Typewriter Product</h3>
        <p class="date">April - June 2, 2023</p>
        <p class="description">
            A typewriter program automatically displays characters or words onto
            the webpage. I worked with a client to make a typewriter program on
            our website. After rebuilding the website, I reworked the program to
            execute over a list of inputs instead of calling the same methods
            manually. This makes it modular and easier to input for the program.
        </p>
        <a href="https://www.otherpeoplesd.com/2023/missed-connections"
            >Final Product</a
        >
        <a
            href="https://docs-git-main-other-people.vercel.app/docs/projects/typewriter-workflow"
            >Project Documentation</a
        >

        <h3>HTML/CSS/JS Jekyll Website with Forestry.io CMS</h3>
        <p class="date">June 2021 - March 2023</p>
        <p class="description">
            One of the first tasks I did at Other People was optimizing the
            product's performance and repository size. I reduced the codebase
            size by using an image compression scheme and removing redundant
            code or deployment artifacts that were not necessary because of how
            the CI/CD implemented the website.
        </p>
        <a href="https://github.com/Other-People-UCSD/Pink-Currents">GitHub</a>

        <h2>Relevant School Projects</h2>

        <h2>Web Server Authentication and Analytics</h2>
        <h3>Frontend Developer</h3>
        <p class="date"></p>
        <p class="description">
            In a group of three developers, we worked on a university project to
            learn how to configure an apache server. The significant takeaways
            from this project were learning about common gateway interfaces to
            output webpages in Python, Go, and C. We also built a RESTful using
            PHP functions to construct an authentication frontend and connected
            the webapp to a third-party logging system to analyze insights about
            our webpages.
        </p>

        <h2>Pomodoro Timer</h2>
        <h3>UI/UX Designer & Fullstack Developer</h3>
        <p class="date"></p>
        <p class="description">
            In a group of eight developers, I was assigned the role of UI/UX and
            later worked on the frontend of the web app halfway through the
            project. We collectively agreed to do a fun theme to encapsulate all
            of this while considering issues such as how distractible the
            interface could be. I focused on multilingual support and
            accessibility as the designer so that the app could be used by a
            wider audience of screen reader or non-English users. Then, I worked
            on the task functionality to let users jot down tasks they want to
            complete.
        </p>
        <a href="">Final Web App Product</a> |
        <a href="">GitHub</a>
    </main>
</LandingLayout>
