---
import Socials from "./Socials.astro";

---

<header>
  <div class="kevinjang">
    <div class="portrait-container">
      <img alt="Kevin Jang" src="/portrait-192.webp" />
    </div>

    <div class="name">
      <h1 class="text-gradient">KEVIN JANG</h1>
      <p class="heading2 text-gradient bold">FRONTEND ENGINEER</p>
      <Socials class="mobile-socials"/>
    </div>
  </div>

  <nav class="nav-container">
    <ul class="navlinks">
      <li id="nav-about"><a href="/#about">About</a></li>
      <li id="nav-portfolio"><a href="/#portfolio">Portfolio</a></li>
      <li id="nav-projects"><a href="/#projects">Projects</a></li>
    </ul>
  </nav>

</header>
<style>
  header {
    margin: 32px 16px;
  }

  .kevinjang {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 10px;
  }

  .portrait-container {
    margin-left: auto;
    margin-right: auto;
    width: 128px;
  }

  .portrait-container img {
    border-radius: 50%;
    max-width: 128px;
  }

  h1 {
    margin: 0px;
  }

  .heading2 {
    margin: 0px;
    margin-bottom: 4px;
    font-size: 1.2rem;
  }

  .mobile-socials {
    scale: 0.8;
  }

  .navlinks {
    padding-left: 0px;
    list-style-type: "// ";
    list-style-position: inside;
  }

  .navlinks > li {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.2rem;
  }

  .navlinks > li > a {
    text-decoration: none;
    color: white;
  }

  .socials {
    display: flex;
    align-items: center;
  }

  .socials a {
    text-decoration: none;
    flex-grow: 1;
  }

  .svgWhite {
    fill: white;
  }

  .copyright {
    flex-grow: 1;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    header {
      display: none;
    }
  }
</style>
