---
import '../styles/global.css';
import HeaderDesktop from '../components/HeaderDesktop.astro';
import HeaderMobile from '../components/HeaderMobile.astro';

function useEffect(arg0: () => void) {
throw new Error("Function not implemented.");
}

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Kevin Jang</title>
	</head>
	<body>
		<HeaderDesktop />
		<HeaderMobile />
		<slot />
	</body>
</html>

<script>
	
</script>
<style>
	main {
		margin-left: 350px;
		margin-right: auto;
		width: auto;
	}
	html {
		background: radial-gradient(#7d27ff, #36087b);
		color: #fff;
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
	}

</style>